body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  --couleur1: #542259;
  --couleur2: #8F5AFF;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  z-index: 1;
  content: " ";
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.circle1 {
  transform: rotate(45deg);
  top: 5vh;
  right: 10%;
  background: linear-gradient(var(--couleur1), var(--couleur2));
}

.circle2 {
  transform: rotate(45deg);
  z-index: -1;
  top: 25vh;
  left: 5vh;
  background: linear-gradient(
  to bottom,
  #00000000,
  #5d963400 70%,
  #000000 50%
  );
  background-size: 100% 30px;
}

#presentation {
  position: absolute;
  padding: 2vh;
  left: 10vw;
  bottom: 20vh;
  background-color: rgb(241, 241, 241);
  width: 40%;
  height: auto;
  padding: 3vh;
}
#presentation p {
  font-size: 2em;
}
#presentation a {
  color: rgb(221, 221, 221);
  padding: 1.25vh;
  border-radius: 25px;
  font-size: 2em;
  
  background: var(--couleur1); /* fallback color if gradients are not supported*/ 
  background: linear-gradient(to right, var(--couleur1), var(--couleur2));
}


.img {
  position: absolute;
  top: 15vh;
  left: 20vw;
  z-index: 0;
  height: 60vh;
  width: 60vw;
  max-height: 40%;

  background-image: url("Medias/bg1.jpg");
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(var(--couleur1), var(--couleur2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  margin: 1vh;
}


.ocean { 
  height: 5%;
  width: 105vw;
  position:absolute;
  bottom:-100px;
  left:0;
  background-color: #BA65FE;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  filter: invert(34%) sepia(97%) saturate(1642%) hue-rotate(228deg) brightness(70%) contrast(102%);
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}






a{
  padding:30px;
  margin:2%;
  background:white;
  width:30%;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.45);
}

a:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:0.8;
  box-shadow:0 0px 0px 0px rgba(0,0,0,0.45);
  
}



#loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: load 2s;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20vh;
}

@keyframes load {
  0%, 50% {
    opacity: 1;
    z-index: 10;
  }
  70% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .circle {
    width: 40vw;
    height: 40vw;
  }
  .circle2 {
    position: absolute;
    bottom: 10vh;
    right: 20vw;
  }
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  
  background: linear-gradient(var(--couleur1), var(--couleur2));

  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}